@import "../../styles/variables.scss";

.table {
  width: 100%;
  p {
    font-size: 1.6rem;
  }
  input {
    border: none;
    outline: none;
  }
}

.row-container {
  background: $white;
  border-radius: 4px;
  width: 100%;
  display: grid;
  box-shadow: -1px 1px 7px 0px rgba(173, 173, 173, 1);
  grid-template-columns: 3fr 5fr 2fr 50px 20px;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}
.time {
  color: $grey;
}
.description,
.category {
  cursor: pointer;
}
.count {
  cursor: pointer;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: 3px;
}
@keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

.input:autofill {
  animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  animation-fill-mode: both;
}
