@import "../../styles/variables.scss";
.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.container {
  background-color: $white;
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.btn {
  background: transparent;
  border: 2px solid darkblue;
  color: darkblue;
  transition: 0.4s;
  border-radius: 7px;
  padding: 5px;
  width: fit-content;
  &:hover {
    background: darkblue;
    border: 2px solid darkblue;
    color: white;
  }
}
