@import "../../styles/variables.scss";

.timerCont {
  background-color: $red;
  border-radius: 7px;
  padding: 0 10px;
  .timerText {
    font-size: 6rem;
    margin: 0;
    color: $white;
    font-weight: 400;
    text-align: center;
  }
}
.desc {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
